<h1>NUMBER</h1>

<form method="GET">
    
    <input type="number" name="inte" id="inte{{ forloop.counter }}" value="{{ inte }}">
    <input type="submit" name="num">
    <br><br>
</form>
    <h1>{{ inte }}</h1>
    <h1>{{ inte.id }}</h1>
    <h1>{{ num }}</h1>
    {% for i in inte %}
    <label for="inte{{ forloop.counter }}">{{ inte }}</label> 
    {% endfor %}
    <!-- <label for="inte{{ forloop.counter }}">{{ inte }}</label> 
    <label for="inte{{ forloop.counter }}">{{ inte }}</label>  -->


    
<!-- <hr>
<table align="center" border="0">
  <tr>
    <td align="center">ตัวตั้ง</td>
    <td align="center">X</td>
    <td align="center">ตัวคูณ</td>
    <td align="center">=</td>
    <td align="center">ผลลัพธ์</td>
  </tr>
    {% for num in latest_num_list %}
  <tr>
    <td>{{num}}</td>
    <td align="center">X</td>
    <td>{{muled}}</td>
    <td align="center">=</td>
  </tr>
  {% endfor %}

</table> -->
