<h1>{{number}}</h1>
<form >
<!--     
    <input type="number" name="inte" id="inte{{ forloop.counter }}" value="{{ inte.id }}">
    <input type="submit" name="num"> -->
    <label >{{ number }}</label> 
    <label >{{ number }}</label> 
    <label >{{ number }}</label> 

</form>

<!-- <hr>
<table align="center" border="0">
  <tr>
    <td align="center">ตัวตั้ง</td>
    <td align="center">X</td>
    <td align="center">ตัวคูณ</td>
    <td align="center">=</td>
    <td align="center">ผลลัพธ์</td>
  </tr>
    {% for num in latest_num_list %}
  <tr>
    <td>{{num}}</td>
    <td align="center">X</td>
    <td>{{muled}}</td>
    <td align="center">=</td>
    <td >
        {% for choice in question.choice_set.all %}
            <input type="radio" name="Choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
      </td>
  </tr>
  {% endfor %}



</table> -->
